
<div class="header">
   
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })

    <div class="header-upper headerupper masterwrapperpage2" style="width:100%;position:fixed">
        <div class="header-selectors-wrapper">
            @*<b>Click and collect Available</b>*@
        </div>
        <div class="header-selectors-wrapper">
            <img src="~/icons/delivery-icon-transparent.png" />
            <b>Nationwide Delivery</b>
        </div>
        <div class="header-selectors-wrapper">
            <b> Call us on <a href="tel:095287044" style="color:blue"> +64 9 528 7044</a></b>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="header-lower masterwrapperpage1" style=" position: fixed;">
        <div class="header-logo">
            @await Component.InvokeAsync("Logo")
        </div>
        <div class="search-box store-search-box">
            @await Component.InvokeAsync("SearchBox")
        </div>
        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks")
            @await Component.InvokeAsync("FlyoutShoppingCart")
        </div>
    </div>

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
  
</div>
